/WanderlustUA/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/WanderlustUA/obj/Debug/net7.0/apphost
/WanderlustUA/bin/Debug/net7.0/appsettings.Development.json
/WanderlustUA/bin/Debug/net7.0/appsettings.json
/WanderlustUA/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/WanderlustUA/bin/Debug/net7.0/Microsoft.OpenApi.dll
/WanderlustUA/obj/Debug/net7.0/staticwebassets/msbuild.build.WanderlustUA.props
/WanderlustUA/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.WanderlustUA.props
/WanderlustUA/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.WanderlustUA.props
/WanderlustUA/obj/project.assets.json
/WanderlustUA/obj/project.nuget.cache
/WanderlustUA/obj/project.packagespec.json
/WanderlustUA/obj/rider.project.restore.info
/WanderlustUA/obj/Debug/net7.0/staticwebassets.build.json
/WanderlustUA/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/WanderlustUA/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/WanderlustUA/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/WanderlustUA/bin/Debug/net7.0/WanderlustUA
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.AssemblyInfo.cs
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.AssemblyInfoInputs.cache
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.assets.cache
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.csproj.AssemblyReference.cache
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.csproj.CopyComplete
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.csproj.CoreCompileInputs.cache
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.csproj.FileListAbsolute.txt
/WanderlustUA/obj/WanderlustUA.csproj.nuget.dgspec.json
/WanderlustUA/obj/WanderlustUA.csproj.nuget.g.props
/WanderlustUA/obj/WanderlustUA.csproj.nuget.g.targets
/WanderlustUA/bin/Debug/net7.0/WanderlustUA.deps.json
/WanderlustUA/bin/Debug/net7.0/WanderlustUA.dll
/WanderlustUA/obj/Debug/net7.0/ref/WanderlustUA.dll
/WanderlustUA/obj/Debug/net7.0/refint/WanderlustUA.dll
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.dll
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.GeneratedMSBuildEditorConfig.editorconfig
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.genruntimeconfig.cache
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.GlobalUsings.g.cs
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.MvcApplicationPartsAssemblyInfo.cache
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.MvcApplicationPartsAssemblyInfo.cs
/WanderlustUA/bin/Debug/net7.0/WanderlustUA.pdb
/WanderlustUA/obj/Debug/net7.0/WanderlustUA.pdb
/WanderlustUA/bin/Debug/net7.0/WanderlustUA.runtimeconfig.json
/.idea/.idea.WanderlustUA/.idea/workspace.xml
